<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>HELLHAWKS.NET</title>
		{{if .SockUrl}}
		<script>var sockUrl = "{{.SockUrl}}";</script>
		<script src="/public/scripts.js"></script>
		<link rel="stylesheet" type="text/css" href="/public/styles.css">
		{{end}}
	</head>
	<body onload="WindowSizer()">
	{{if .SockUrl}}
	{{if .Status}}
	<div id="httpStatus">{{.Status}}</div>
	{{end}}
	<div id="msgList"></div>
	<form id="inputBox" onsubmit="Send(); return false">
		<input id="msgTxt" type="text" />
		<input type="submit" id="sendBtn" value="send"/>
	</form>
	{{end}}
	</body>
</html>