<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>HELLHAWKS.NET</title>
		{{if .SockUrl}}
		<script>var sockUrl = "{{.SockUrl}}";</script>
		<script src="/public/scripts.js"></script>
		<link rel="stylesheet" type="text/css" href="/public/styles.css">
		{{end}}
	</head>
	<body>
	{{if .SockUrl}}
	{{if .Status}}
	<div id="status-box">{{.Status}}</div>
	{{end}}
	<div id="msg-list"></div>
	<form id="input-box" onsubmit="Send(); return false">
		<input id="msg-txt" type="text" />
		<input type="submit" id="sendBtn" value="send"/>
	</form>
	{{end}}
	</body>
</html>